
* {
  box-sizing: border-box;
}
body {
  /* background-color: rgb(255, 255, 255); */
  background-image: url(img/fondo.webp)
  


}
.main-container {
  max-width: 800px;
  margin: auto;
}
h1.titulo {
  border: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  border-color: blue;
  margin: 50px auto 80px auto;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  padding: 10px;
  box-shadow: 1rem tomato;
}

h1#msg-final {
  text-align: center;
  color: crimson;
  transition: all .5s ease;
  transform: scale(0);
  min-height: 50px;
  margin-bottom: 0;
}
.zoom-in {
  transform: scale(1) !important;
}
#acierto {
  text-align: center;
  min-height: 24px;
  transform: scale(0);
}
.acierto {
  animation: zoomInOut 1s ease;
}
#reset {
  border-radius: 2rem;
  font-size: 15px;
  padding: 10px;
}
#pista {

  border-radius: 2rem;
  font-size: 15px;
  padding: 10px;

}
#salud{
  margin-right: auto;
  color: aliceblue;
  border-radius: 0.5rem;
  font-size: 15px;
  padding: 10px;
  background-color: blue;
}
.rojo {
  color: red;
}
.verde {
  color: green;
}
@keyframes zoomInOut {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  70% { transform: scale(1); }
  100% { transform: scale(0); }
}
h2.palabra {
  margin: 0 auto 25px auto;
  text-align: center;
  color: rgb(55, 6, 170);
  text-transform: uppercase;
  letter-spacing: 6px;
}
#palabra {
  border-radius: 0.5rem;
  border-color: blue;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  
}
.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10px; 
}
.no-wrap {
  flex-wrap: nowrap !important;
}
.col {
  width: 150%;
  text-align: center;
  
}
.col span {
  
}
#turnos h3 {
  margin: auto;
}
h3 span {
   color: orangered;
}
.letra:disabled {
  color:rgba(255, 0, 0, 0.5);
}
picture {
  position: relative;
}
picture img {
  position: absolute;
  top: -203px;
  left: -205px;
  height: 225px;
}
#image5, #image4, #image3,
#image2, #image1, #image0 {
  opacity: 0;
  transition: opacity .3s ease;
}
.fade-in {
  opacity: 1 !important;
}
.encuadre {
  border: 2px dashed crimson;
  padding: 3px 2px 2px 6px;
}
